@font-face {
	font-family: 'norsebold';
	src: url('resources/fonts/norse-bold.woff2') format('woff2'),
		url('resources/fonts/norse-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}