@font-face {
	font-family: 'norsebold';
	src: url('resources/fonts/norse-bold.woff2') format('woff2'),
		url('resources/fonts/norse-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
	--logo-container-width: 40%;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.root {
	display: flex;
}

.parent-container {
	min-height: 100vh;
}

.main-container {
	flex: 1 0 calc(100% - var(--logo-container-width));
}

.logo-container {
	flex: 1 1 var(--logo-container-width);

	position: relative;

	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	color: white;
	background-image: url("resources/images/background.jpg");

	background-size: cover;
}

.logo-container a {
	color: white;
}

.logo-content {
	display: flex;

	position: absolute;

	top: 250px;

	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.5);
	height: 10rem;
	width: 100%;
}

.logo-content h1 {
	font-size: 8rem;

	font-family: 'norsebold', 'Times New Roman', Times, serif;
	color: white;
}

.logo-content img {
	height: 100%;
}

.image-credits {
	position: absolute;

	bottom: 0.9rem;
	text-align: center;
	width: 100%;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: #f9fafb;
}

.hero-container {
	padding: 0 3rem;
}

.hero-container h2 {
	font-size: 2rem;
	padding: 1rem 0;
}

.form-inputs {
	box-shadow: 0px 2px 5px 1px #0000002a;
	background-color: #fff;

	padding: 2rem 10rem 4rem 3rem;
}

.form-inputs>h2 {
	padding-bottom: 1.5rem;
	font-size: 2rem;
}

.inputs {
	display: flex;
	flex-flow: row wrap;
	row-gap: 1rem;
	column-gap: 5rem;
	max-width: 656px;
}

.inputs>div {
	display: flex;
	flex-direction: column;
	gap: 3px;
	width: 15rem;
}

.inputs label {
	font-size: 0.8rem;
	letter-spacing: 1px;
}

.inputs input {
	font-size: 1rem;
	padding: 10px 10px;
	border-radius: 6px;
	outline: 1.5px solid #00000015;
	border: 2px solid transparent;
}

.inputs input:focus {
	outline: none;
	border: 2px solid blue;

	box-shadow: 0px 5px 5px 1px #0000002a;
}

.inputs input:user-invalid {
	outline: none;
	border: 2px solid red;
}